IO_LOC "uart0_txd_o" 39;
IO_PORT "uart0_txd_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "reset_n_i" 23;
IO_PORT "reset_n_i" PULL_MODE=UP;
IO_LOC "uart0_rxd_i" 40;
IO_PORT "uart0_rxd_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_clk_i" 22;
IO_PORT "sys_clk_i" PULL_MODE=UP;


IO_LOC "led1" 27;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;

IO_LOC "led2" 33;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;

IO_LOC "led3" 30;
IO_PORT "led3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;



IO_LOC "key1" 20;
IO_PORT "key1" IO_TYPE=LVCMOS33 PULL_MODE=UP;


IO_LOC "led_en" 34;
IO_PORT "led_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;



