//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Thu 03 23 20:57:14 2023

IO_LOC "O2" 32;
IO_PORT "O2" PULL_MODE=NONE DRIVE=8;
IO_LOC "O1" 31;
IO_PORT "O1" PULL_MODE=NONE DRIVE=8;
IO_LOC "pwm2" 43;
IO_PORT "pwm2" PULL_MODE=NONE DRIVE=8;
IO_LOC "pwm1" 41;
IO_PORT "pwm1" PULL_MODE=NONE DRIVE=8;
IO_LOC "A2" 44;
IO_PORT "A2" PULL_MODE=UP;
IO_LOC "A1" 42;
IO_PORT "A1" PULL_MODE=UP;
IO_LOC "clk" 22;
IO_PORT "clk" PULL_MODE=UP;
